@page "/reg"

@using P2_AP1_RonnelDeLaCruz.Services
@inject RegistrosService registrosservice

<PageTitle>Registros</PageTitle>

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Registros</h5>
            <a href="/Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Crear
            </a>
        </div>
    </div>
</div>

@code {

}
